body {
	font-family: Inter, sans-serif;
	padding-left: 0;
	padding-right: 0;
}

.flexBetween {
	@apply flex justify-between items-center;
}

.flexCenter {
	@apply flex justify-center items-center text-center;
}

.btn_green  { 
	@apply  border-green-50 hover:border-green-80 bg-green-50 hover:bg-green-80 rounded-full px-6 py-2 text-white font-medium tracking-wide capitalize;
}

.btn_action  { 
	@apply bg-neutral-20 hover:bg-green-50 outline outline-2 outline-white rounded-full text-white text-sm md:text-base lg:text-lg capitalize px-14 py-[14px];
}

#primary-menu a {
	@apply text-base font-semibold text-neutral-10 cursor-pointer transition-all hover:text-green-500;
}

.hero {
	@apply bg-cover bg-center w-screen text-white rounded-br-[50px] lg:rounded-br-[100px];
}

.hero::after {
  background: rgba(0,0,0, 0.6);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

::placeholder {
	@apply font-normal text-sm md:text-base;
}

input:not(.search-submit), textarea {
	width: 100% !important;
	max-width: 100% !important;
	font-size: 1.125rem !important;
  line-height: 1.75rem !important;
	padding: .75rem !important;
	height: auto !important;
}

div.wpforms-container-full button[type=submit] {
	border-radius: 9999px !important;
	width: 100% !important;
	max-width: 100% !important;
	font-size: 1rem !important;
	padding: 1rem 1.5rem !important;
	height: auto !important;
}

.wpforms-container {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.card {
	@apply flex flex-col justify-between bg-zinc-50 border rounded-md shadow-sm h-full overflow-hidden;
}

.pagination .nav-links {
	@apply flex justify-center items-center w-full;
}

.pagination .page-numbers {
	@apply mr-px rounded-md inline-flex items-center px-3 py-2 text-sm font-medium capitalize text-gray-700 bg-white leading-5 hover:text-white hover:bg-blue-500;
}

.pagination .dots {
	@apply hover:text-gray-700 hover:bg-white
}

.pagination .prev, .pagination .next {
	@apply gap-x-1.5 px-2 text-gray-500 hover:text-gray-400 hover:bg-white;
}

.search-form {
	@apply flex items-stretch w-full;
}

.search-form > label {
	@apply grow;
}

.search-field {
	@apply py-1.5 px-3 rounded-l-md w-full border bg-transparent text-neutral-800 focus:outline-none;
}

input.search-field {
	padding-bottom: 0.5rem !important;
	padding-top: 0.5rem !important;
}

.search-submit, .btn-navigation {
	@apply bg-black text-white text-sm md:text-base font-semibold border border-transparent rounded-r-md py-1.5 px-3 md:px-6 cursor-pointer hover:bg-neutral-20 focus:outline-none;
}

@media(max-width: 700px) {
  .hero::after {
    box-shadow: inset 80px 100px 250px #000, inset -80px -100px 250px #000;
  }
}